{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% translate 'About us' %}{% endblock %}

{% block content %}
  <h1>Joyful Gifting Platform</h1>
  <p>Joyful Gifting is an innovative community-driven marketplace where individuals can both give away and request gifts
    and presents. The platform's mission is to create an environment of spreading joy and reducing waste, making it a
    perfect match for anyone who values sustainability and cherishing special moments.</p>

  <h3>Giving Gifts</h3>

  <p>Have you ever been gifted something that didn't suit your taste or needs? With Joyful Gifting, you can pass it on
    to someone who will cherish it. This opportunity allows you to declutter your space, reduce waste, and bring joy to
    someone else's day. It’s the perfect way to pay kindness forward and find a new home for your unused treasures.</p>

  <h3>Requesting Gifts</h3>

  <p>Is there something you've been desiring for a while? Be it a book, a kitchen gadget, or a new furniture piece,
    Joyful Gifting might just have what you're looking for. Request gifts and presents from people who no longer need
    them, connect with your community, save money and reduce unnecessary consumption.</p>

  <h3>Join the Community</h3>

  <p>An experience with Joyful Gifting fosters a spirit of generosity and environmental consciousness. Join our
    community today to feel the joy of both giving and receiving.</p>

  <p class="text-muted fst-italic">For strictly digital gift exchanges, we advise users to stick to non-sensitive
    information and not exchange things
    like usernames, passwords, product keys, etc.</p>
{% endblock %}
