{% load i18n static %}

<nav class="py-2 bg-body-tertiary border-bottom">
  <div class="container d-flex flex-wrap">
    <ul class="nav me-auto">
      <li class="nav-item">
        <a href="{% url 'pages:index' %}" class="nav-link link-body-emphasis px-2 active" aria-current="page">
          {% trans "Home" %}
        </a>
      </li>
      <li class="nav-item">
        <a href="{% url 'items:gift-list' %}" class="nav-link link-body-emphasis px-2">
          {% trans "Gifts" %}
        </a>
      </li>
      <li class="nav-item"><a href="#" class="nav-link link-body-emphasis px-2">About</a></li>
    </ul>

    <ul class="nav">
      {% if user.is_authenticated %}
        <li class="nav-item">
          <a href="{% url 'users:profile' %}" class="nav-link link-body-emphasis px-2">
            {{ user.get_short_name }}
          </a>
        </li>
        <li class="nav-item">
          <a href="{% url 'account_logout' %}" class="nav-link link-body-emphasis px-2">{% trans "Logout" %}</a>
        </li>
      {% else %}
        <li class="nav-item">
          <a href="{% url 'account_login' %}" class="nav-link link-body-emphasis px-2">{% trans "Login" %}</a>
        </li>
        <li class="nav-item">
          <a href="{% url 'account_signup' %}" class="nav-link link-body-emphasis px-2">{% trans "Sign up" %}</a>
        </li>
      {% endif %}
    </ul>
  </div>
</nav>
<header class="py-3 mb-4">
  <div class="container d-flex flex-wrap align-items-center justify-content-center">
    <a href="/" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto link-body-emphasis text-decoration-none">
      <img class="me-2" src="{% static 'logo.png' %}" width="32" height="32" alt="Joyful Gifting"/>
      <span class="fs-5">Joyful Gifting</span>
    </a>

    <div class="mb-3 mb-lg-0 me-lg-auto">
      <a class="btn btn-primary" href="{% url 'items:gift-create' %}">{% translate 'Give a gift' %}</a>
      <a class="ms-2 btn btn-light" href="{% url 'items:gift-list' %}">{% translate 'Explore gifts' %}</a>
    </div>

    <div class="col-12 col-lg-auto mb-3 mb-lg-0">
      <div class="d-flex gap-1">
        <form role="search">
          <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
        </form>

        <div hx-get="{% url 'notices:check' %}"
             hx-trigger="every 10s"
             hx-target="this"
             hx-swap="innerHTML">
          {% include 'notices/partials/notifications.html' %}
        </div>
      </div>
    </div>
  </div>
</header>
